*{margin: 0; padding: 0; border: 0; box-sizing: border-box; }

body{
    background: rgb(41, 39, 39);
    margin-top: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    height: 100vh;
   
}

ul,li,a{
    text-decoration: none;
    list-style: none;
}

p{
    color: white;
}
header{
    color: white;
    display: flex;
    
}

#supertec{
    margin-top: 1.5rem;
    margin-left: -6rem;
    font-family: Montserrat Subrayada;
    font-size: 30px;

}

#menu{
    display: flex;
    justify-content: end;
    margin-left: 30rem;
    margin-top: 2rem;
}

ul{
    display: flex;
}
li{
    color: white;
    margin-left: 2rem;
    font-family: Montserrat;
    font-size: 15px;
    opacity: 100%;
}

li:hover{
    opacity: 50%;
    font-size: 14px;
}

#carrinho{
    margin-top: -2rem;
    margin-left: 10rem;
    width: 200px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: 700;
    color: white; 
    opacity: 100%;
}

#carrinho:hover{
    opacity: 50%;
    width: 201px;
    height: 51px;

}


#barra_pesquisa{
    margin-top: 2rem;
    margin-left: 1rem; 
    margin-bottom: 2rem;
 
}


#search{
    width: 85rem;
    height: 45px;
    border-radius: 3px;
}

#search{
    opacity: 100%;
}

#search:hover{
    opacity: 50%;
}


#lupa{
    width: 40px;
    height: 30px;
    background-color: rgb(41, 39, 39);
}

#button_lupa{
    margin-top: -4.5rem;
    margin-left: 88rem;
    opacity: 100%;
}

#button_lupa:hover{
    opacity: 50%;
    color: white;
}

#img_lupa{
    color: white;
    width: 35px;
}

#img_intro{
    margin-top: 1.5rem;
    margin-left: 5rem;
    
}

#banner1{
    margin-top: 2rem;
    margin-left: -2rem;
}

#img_banner1{
    border-radius: 5px;
}

#parte2{
    display: flex;
    margin-top: 1rem;
    height: 10rem;
}

#banner2{
    width: 100%;
    height: 350px;
    margin-left: -2rem;
    border-radius: 5px;
}

#banner_reserva{
    height: 10rem;
    width: 25rem;
    border-radius: 5px;
    margin-right: 5rem;

}

#banner3{
    margin-left: -5rem;
    border-radius: 10px;
    margin-right: 5rem;
}

#banner4{
    height: 160px;
    border-radius: 10px;
    
   
    
}

#aviso{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

#icon_aviso{
    width: 40px;
}

#aviso_leg{
    font-family: Montserrat;

}

aside{
    margin-top: 1rem;
    display: flex;
}

.destaque{
    display: flex;   
}



.img_destaque{
    background: rgb(58, 57, 57);
    border-radius: 4px;
    border-top-right-radius: 0px;
    width: 5rem;
}

.leg1{
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 5.5rem;
}

.leg2{
    align-items: center;
    margin-left: 3.5rem;
}

.leg3{
    margin-left: 4rem;
}

#gamer{
    display: flex;
}

.game_legenda{
    font-family: Montserrat;
    background: black;
    width: 16rem;
    border-radius: 5px;
    border-top-left-radius: 0px;    
}

#work{
    margin-left: 2rem;
    display: flex;
}

#img_work{
    width: 100px;
    height: 100%;
    background: #345aad;
    border-radius: 5px;
    border-top-right-radius: 0px;
}

#work_legenda{
    font-family: Montserrat;
    background: #102e70;
    width: 16rem;
    border-radius: 5px;
    border-top-left-radius: 0px;    
}

#leg1-w{
    align-items: center;
    margin-top: 0.8rem;
    margin-left: 4rem;
}

#leg2-w{
    align-items: center;
    margin-left: 3rem;
}

#leg3-w{
    margin-left: 3.5rem;
}

#destaque_home{
    display: flex;
    background: #33751e;

}

#s_png{
    width: 50px;
    height: 50px;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: -1rem;
    background: #33751e;
}

#s_legenda{
    margin-left: 1rem;
    background: #1d4211;
}

.imagens{
    width: 16rem;
    border-radius: 5px;
}

#produtos{
    display: flex;
    margin-top: 2rem;
    margin-left: 1rem;
}

#oferta{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

#fogo_leg{
    font-family: Montserrat;
}

.medida_img{
    margin-right: 0.5rem;
    width: 30rem;
}

.frete{
    background-color: red;
    border-radius: 3px;
    text-align: start;
    width: 135px;
    height: 16px;
    font-size: 10px;
    font-weight: 700px;
    margin-top: 0.3rem;
    margin-left: 1rem;
    padding: auto;
    color: white;
    font-family: Montserrat;
}

.desconto{
    background-color: black;
    border-radius: 3px;
    color: white;
    font-family: Montserrat;
    text-align: start;
    width: 135px;
    height: 19px;
    font-size: 10px;
    font-weight: 700px;
    margin-top: 0.3rem;
    margin-left: 1rem;
    padding: auto;
    justify-content: center;
    
}

.legenda{
    margin-top: 0.5rem;
    font-family: Montserrat;
    font-weight: 700px;
    font-size: 13px;
    
}

.legenda{
    opacity: 100%;
}

.legenda:hover{
    opacity: 50%;
}

footer{
    background: rgb(51, 49, 49);
}