*{margin: 0; padding: 0; box-sizing: border-box;}
:root{
    /* CSS HEX */
    --prussian-blue: #003049ff;
    --fire-engine-red: #d62828ff;
    --orange-wheel: #f77f00ff;
    --xanthous: #fcbf49ff;
}

.cards-flip{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.container-flip{
    position: relative;
    width: 350px;
    height: 400px;
    background-color: floralwhite;
    border-radius: 20px;
}

.container-flip:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frente{
    background-image: url(/images/flip/high-angle-assortment-with-delicious-brazilian-food.jpg);
    background-size: cover;
}

.tras{
    background-color:  #fcbf49ff;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.leg-flip{
    font-family: lora;
    font-size: 30px;
}

.frente2{
    background-image: url(/images/flip/close-up-delicious-asian-food.jpg);
    background-size: cover;
}

.tras2{
    background-color:  #fcbf49ff;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.frente3{
    background-image: url(/images/flip/delicious-tacos-table.jpg);
    background-size: cover;
}

.tras3{
    background-color:  #fcbf49ff;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.frente4{
    background-image: url(/images/flip/sushi-rolls-with-soybean-sauce.jpg);
    background-size: cover;
}

.tras4{
    background-color:  #fcbf49ff;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.frente, .tras, .frente2, .tras2, .frente3, .tras3, .frente4, .tras4{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    backface-visibility: hidden;
}