*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
    /* CSS HEX */
    --prussian-blue: #003049ff;
    --fire-engine-red: #d62828ff;
    --orange-wheel: #f77f00ff;
    --xanthous: #fcbf49ff;
}






