section.slider {
  margin: 0 auto;
  margin-top: -2rem;
  width: 100%;
  height: 49rem;
  padding: 0 !important;
  /* deixa a rolagem escondida */
  overflow: hidden;
  /* ------------------------- */
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input,
.img-mobile {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
}

.slide-box img {
  width: 90%;
  margin-left: 380px;
  margin-top: -1rem;
}

.nav-manual,
.nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 40%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn,
.nav-auto div {
  border: 1px solid #1c2d4e;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child),
.nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: #1c2d4e;
}
