*{margin: 0; padding: 0; box-sizing: border-box;}

:root{
    /* CSS HEX */
    --prussian-blue: #003049ff;
    --fire-engine-red: #d62828ff;
    --orange-wheel: #f77f00ff;
    --xanthous: #fcbf49ff;
}

.cards{
    display: flex;
    width: 80px;
    align-items: center;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cards img{
        width: 90px;
        height: 80px;
    
}