*{margin: 0; padding: 0; border: 0; box-sizing: border-box;}

body{
    margin-top: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    height: 100vh;
    width: 100%;
    background: rgb(37, 37, 37);
}

header{
    display: flex;
    height: 30px;
    margin-top: 2rem;
    color: white;
    font-family: ;
}

a,ul{
    text-decoration: none;
    list-style: none;
}

#menu{
    display: flex; 
}

ul{
    display: flex;
    margin-left: 35rem;
}

li{
    margin-right: 3rem;
    color: white;
}

#banner{
    margin-top: 3rem;
}
