*{margin: 0; padding: 0; box-sizing: border-box;}
/* CSS HEX */
--prussian-blue: #003049ff;
--fire-engine-red: #d62828ff;
--orange-wheel: #f77f00ff;
--xanthous: #fcbf49ff;


body{
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
}

header{
    background: #003049ff;
    display: flex;
    
    height: 4rem;
    
}
#img-logo{
    width: 20px;
    transform: rotate(335deg);
    margin-top: -1.5px;
    margin-left: 9px;
}
#logo{
    display: flex;
    margin-top: 0.5rem;
    margin-left: 5rem;
    color: white;
}

#gostosuras{
    font-family: Merienda;
    font-size: 30px;
    color: white;
}

nav{
    display: flex;
    margin-left: 900px;
    margin-top: 1.5rem;
    
}

a{
    text-decoration: none;
}

ul{
    display: flex;
}

li{
    margin-left: 2rem;
    color: white;
    list-style: none;
    font-family: Lora;
    align-items: baseline;
    
}

li:hover{
    margin-left: 2rem;
    color: white;
    list-style: none;
    font-family: Lora;
    align-items: baseline;
    text-shadow: 0px 0px 20px rgb(255, 153, 0);
}


#img_intro{
    margin-left: 5rem;
}

#parte_colorida{
    display: flex;
    background: #f77f00ff;
    height: 800px;
    
}

#mulher_cozinhando{
    margin-top: 3rem;
    width: 90%;
}


#intro{
    text-align: center;
    margin-top: 15rem;
    margin-right: 5rem;
    
}

#intro2{
    margin-top: 4rem;
    width: 900px;
}

#f1{
    margin-top: -3rem;
    margin-right: -2rem;
    margin-bottom: 1rem;
    font-family: Pacifico;
    width: 700px;
    font-size: 60px;
}

#f2{
    margin-left: -1rem;
    font-family: Merienda;
    margin-bottom: 3rem;
}

#f3{
    text-align: center;
    font-family: Merienda;
}

.cards{
    display: flex;
    width: 80px;
    align-items: center;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.img_medida{
    width: 90px;
    height: 80px;
}

.div-salada{
    background: rgba(106, 153, 78, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    
}

#img_salada{
    height: 80px;
}

.imagem{
    border-radius: 8px;
}

.container{
    display: flex;
    width: 300px;
    align-items: center;
    margin-left: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 8px;
    
}

#leg_salada{
     background: rgba(56, 102, 65, 1);
     width: 200px;
     height: 84px;
     border-radius: 8px;
     border-top-left-radius: 0px;
     border-bottom-left-radius: 0px;
     text-align: center;
} 

.cor-leg{
    color: black;
}

.div-bolo{
    background: rgba(255, 155, 133, 1);
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#leg_bolo{
    background: rgba(188, 71, 73, 1);
    width: 250px;
    height: 84px;
    border-radius: 8px;
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

p{
    margin-top: 30px;
    font-family: Merienda;
    font-size: 20px;
}

.div-bebida{
    background: rgba(255, 136, 0, 1);
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#leg_bebida{
    background: rgba(255, 170, 0, 1);
    width: 200px;
    height: 84px;
    border-radius: 8px;
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.div-fit{
    background: rgba(114, 239, 221, 1);
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#leg_fit{
    background: rgba(100, 223, 223, 1);
    width: 500px;
    height: 84px;
    margin-left: -0.5px;
    border-radius: 8px;
    text-align: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.texto-animado{
    font-size: 40px;
    font-family: lora;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.texto-animado span{
    position: relative;
}

.texto-animado span::before{
    content: "";
    color: rgba(247, 127, 0, 1);
    animation: palavras 20s infinite;
}

.texto-animado span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid rgba(247, 127, 0, 1);
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 18px);
    background-color: white;
}

@keyframes digita{
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 18px);
    }
}

@keyframes cursor{
    0%{
        border-left: 2px solid white;
    }
}

@keyframes palavras{
    0%,20%{
        content: "para adoçar sua vida!";
    }
    21%,40%{
        content: "que enchem de alegria!";
    }
    41%,60%{content: "que surpreendem a cada mordida!";
    }
    61%,80%{
        content:" irresistíveis para todos saborearem!";
    }
    81%,100%{
        content: "para compartilhar e saborear!";
    }
}


#hrs{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#hr-footer1{
    width: 700px;
}

#hr-footer2{
    width: 700px;
}

#intro_footer{
    margin-left: 900px;
}

#gastronomia-footer{
    width: 100px;
}

footer{
    height: 20vh;
}


#entre-em-contato{
    background: #003049ff;
    margin-top: 20px;
}

#frase{
    margin-top: 20px;
}

#frase-footer{
    font-family: Lora;
    color: white;
    text-align: center;
}

#decoration{
    height: 10vh;
    background: rgba(0, 48, 73, 0.90);
}

.medida-footer{ 
    width: 40px;
}

#contato{
    display: flex;
    margin-left: 200px;
}

#whats{
    margin-right: 20px;
}

#insta{
    margin-right: 20px;
}

#conteudo-footer{
    display: flex;
    margin-top: 30px;
}
